**/.git/**

**/.idea/**
**/*.iml
**/*.ipr

**/.project
**/.classpath
**/.settings/**

**/.gradle/**
**/gradle/**

**/local.properties
**/out/**
**/build/**
**/bin/**

**/Thumbs.db
**/Thumbs.db:encryptable
**/ehthumbs.db
**/ehthumbs_vista.db
**/[Dd]esktop.ini
**/*.stackdump
$RECYCLE.BIN/
