**/.git/**

**/.bsp/**
**/.idea/**
**/*.iml
**/*.ipr

**/.project
**/.classpath
**/.settings/**

**/.gradle/**
**/gradle/**

**/mill.bat

**/.bloop/**
**/.metals/**

**/local.properties
**/out/**
**/target/**
**/build/**
**/bin/**
**/lib/**
**/*.class
**/*.jar

**/Thumbs.db
**/Thumbs.db:encryptable
**/ehthumbs.db
**/ehthumbs_vista.db
**/[Dd]esktop.ini
**/*.stackdump
$RECYCLE.BIN/
target/task-temp-directory/
