<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <Async name="Async">
            <!-- reference to other appenders -->
            <AppenderRef ref="LogToConsole"/>
        </Async>
    </Appenders>
    <Loggers>
        <AsyncLogger name="io.leoframework" level="TRACE" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </AsyncLogger>
        <Root level="TRACE">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>